@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Righteous&display=swap');

:root {
   --white: #f6fbff;
   --less-transparent: #bae5fd52;
   --transparent: #bae5fd28;
   --gray-text: #d0efff;
}

body {
   height: 100vh;
   width: 100vw;
   display: flex;
   align-items: stretch;
   justify-content: center;
   font-family: 'Outfit', sans-serif;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   padding: 7rem 21rem;
   box-sizing: border-box;
}

app-view {
   border: 0.3rem solid var(--white);
   border-radius: 0.7rem;
   /* height: 80vh;
   width: 75vw; */
   display: grid;
   grid-template-columns: 1fr 400px;
   color: var(--white);
   background-color: #0000005a;
   flex: 1;
}

.main-section {
   padding: 1rem;
   display: grid;
   padding-bottom: 2rem;
   grid-template-rows: auto auto 1fr;
   gap: 1rem;
}

.logo a {
   font-size: 1.2rem;
   color: var(--gray-text);
   font-weight: 700;
   text-decoration: none;
}

.main-section-header {
   display: flex;
   justify-content: space-between;
   gap: 1rem;
   flex-wrap: wrap;
   white-space: nowrap;
   align-items: center;
}

.time-date-info {
   display: flex;
   flex-direction: column;
   align-items: start;
   gap: 0.5rem;
   flex-grow: 1;
}

.time {
   font-size: 2rem;
}

.weather-now {
   display: flex;
   justify-content: flex-end;
   flex-direction: column;
   max-width: 450px;
   gap: 1rem;
}

.current-temp {
   font-size: 7rem;

   grid-row: 1/-1;
   justify-self: start;
   align-self: center;
}

.weather-summary {
   font-size: 1.6rem;
   line-height: 2rem;
   font-weight: 500;
}

.current-data {
   display: grid;
   grid-template-columns: 3fr 2fr;
   grid-template-rows: 2rem 2rem 2rem;
   gap: 0.5rem;
   align-items: stretch;
   justify-content: start;
}

.current-data i {
   justify-self: center;
}

.current-real-feel,
.current-humidity,
.current-weather-description {
   display: grid;
   grid-template-columns: 2rem 1fr;
   align-items: center;
   gap: 1rem;
}

.side-info {
   padding: 0.5rem;
   display: flex;
   gap: 0.5rem;
   flex-direction: column;
   justify-content: stretch;

   overflow-y: scroll;
   -ms-overflow-style: none;
   scrollbar-width: none;
}

.side-info::-webkit-scrollbar {
   display: none;
}

.title {
   display: flex;
   gap: 0.4rem;
   color: var(--gray-text);
   font-size: 0.9rem;
   align-items: center;
   font-weight: 400;
}

.days-forecast {
   flex: 1;
}

.days-forecast,
.sun-times,
.wind,
.extra-data,
#chart-container {
   display: flex;
   flex-direction: column;
   background-color: var(--transparent);
   border-radius: 0.7rem;
   padding: 0.4rem;
   justify-content: space-between;
}

#chart-container {
   gap: 0.5rem;
   justify-content: space-between;
   align-items: flex-start;
}

.wind {
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   gap: 1rem;
}

.extra-container {
   display: grid;
   grid-template-rows: 1fr 1fr;
   grid-template-columns: 1fr auto;
   gap: 0.5rem;
   flex: 0.5;
}

.extra-data {
   grid-row: 1/3;
}

.forecast-day {
   display: grid;
   grid-template-columns: auto auto 1fr auto;
   align-items: center;
   align-content: center;
   gap: 0.5rem;

   flex: 1;
}

.forecast-day:not(:last-child),
.extra-data-item:not(:last-child),
.sunrise {
   border-bottom: var(--transparent) solid 1px;
}

.day-icon,
.current-icon {
   height: 2rem;
   filter: brightness(2) saturate(2);
}

.extra-data-item,
.sunset,
.sunrise {
   display: flex;
   justify-content: space-between;
   flex: 1;
   align-items: center;
}

.search-bar {
   outline: 0;
   display: flex;
   -webkit-border-radius: 1rem;
   border-radius: 1rem;
   justify-content: center;
   position: relative;
}

.search-bar > .search-input {
   font-size: 1rem;
   outline: 0;
   height: 2rem;
   width: 9rem;
   line-height: 1rem;
   padding: 0 1rem;
   background-color: var(--transparent);
   color: var(--white);
   border: 0;
   -webkit-border-radius: 1rem 0 0 1rem;
   border-radius: 1rem 0 0 1rem;
   font-family: 'Outfit', sans-serif;
}

.search-bar > .search-input:focus {
   outline: 0;
}
.search-bar > .search-input::placeholder {
   color: var(--white);
   font-size: 1rem;
   font-family: 'Outfit', sans-serif;
}

.search-bar > button {
   outline: 0;
   background: none;
   background-color: var(--transparent);
   height: 2rem;
   width: 3rem;
   text-align: center;
   line-height: 2rem;
   border: 0;
   color: var(--white);
   font: normal normal normal 1rem/1 FontAwesome;
   font-size: 1rem;
   text-rendering: auto;
   -webkit-transition: background-color 0.4s ease;
   transition: background-color 0.4s ease;
   -webkit-border-radius: 0 1rem 1rem 0;
   border-radius: 0 1rem 1rem 0;
   cursor: pointer;
}

.search-bar > button:hover {
   background-color: var(--less-transparent);
}

.dt-w-e {
   display: flex;
   justify-content: center;
   align-items: center;
}
.dt-w-e::before {
   content: 'W';
   position: absolute;
   color: var(--white);
   font-size: 0.6em;
   left: 2px;
}
.dt-w-e::after {
   content: 'E';
   position: absolute;
   color: var(--white);
   font-size: 0.6em;
   right: 2px;
}
.dt-n-s {
   display: flex;
   justify-content: center;
   align-items: center;
}
.dt-n-s::before {
   content: 'N';
   position: absolute;
   color: var(--white);
   font-size: 0.6em;
   top: 2px;
}
.dt-n-s::after {
   content: 'S';
   position: absolute;
   color: var(--white);
   font-size: 0.6em;
   bottom: 2px;
}
.arrows {
   position: absolute;
   width: 5px;
   height: 5px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   -webkit-animation: arrows 2s ease infinite alternate;
   animation: arrows 2s ease infinite alternate;
   transform-origin: center;
}
.arrows::before,
.arrows::after {
   position: absolute;
   content: '';
   width: 0;
   height: 0;
}
.arrows::before {
   bottom: 14px;
   border-left: 5px solid transparent;
   border-right: 5px solid transparent;
   border-bottom: 10px solid var(--white);
}
.arrows::after {
   top: -10px;
   border-left: 1px solid var(--white);
   border-right: 1px solid var(--white);
   border-top: 30px solid var(--white);
}
.compass {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 3.8rem;
   height: 3.8rem;
   border-radius: 50%;
   border: 3px solid var(--less-transparent);
}

.search-bar .loading-spinner {
   position: absolute;
   right: 10%;
}

.search-bar .sp {
   width: 1rem;
   height: 1rem;
}

.loading-spinner {
   padding: 2rem;
   border-radius: 50%;

   color: var(--white);
   align-self: center;
}

.sp {
   width: 4rem;
   height: 4rem;
   clear: both;
   /* margin: 3rem auto; */
}

.sp-circle {
   border: 0.3rem #7dd3fc solid;
   border-top: 0.3rem #0369a1 solid;
   border-radius: 50%;
   -webkit-animation: spCircRot 0.6s infinite linear;
   animation: spCircRot 0.6s infinite linear;
}

@-webkit-keyframes spCircRot {
   from {
      -webkit-transform: rotate(0deg);
   }
   to {
      -webkit-transform: rotate(359deg);
   }
}
@keyframes spCircRot {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(359deg);
   }
}
