@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Righteous&display=swap');

:root {
   --white: #eff6ff;
   --transparent-white: #eff6ff2b;
}

body {
   height: 100vh;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Outfit', sans-serif;
   /* background-color: rgb(51, 0, 255); */
   background: url('./images/drizzle.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

app-view {
   border: 0.4rem solid var(--white);
   border-radius: 1rem;
   height: 80vh;
   width: 80vw;
   display: grid;
   grid-template-columns: 1fr 400px;
   color: var(--white);
}

.main-section {
   padding: 1rem;
   display: grid;

   grid-template-rows: auto 1fr;
}

.main-section-header {
   display: flex;
   flex-direction: column;
   align-content: start;
   row-gap: 1rem;
   column-gap: 3rem;
   flex-wrap: wrap;
   white-space: nowrap;
   align-items: start;
}

.time-date-info {
   display: flex;
   flex-direction: column;
   align-items: start;
   gap: 0.5rem;
   flex-grow: 1;
}

.weather-now {
   display: flex;
   justify-content: flex-end;
   flex-direction: column;
}

.side-info {
   padding: 1rem;
   background-color: var(--transparent-white);
   display: flex;
   gap: 0.5rem;
   flex-direction: column;
   justify-content: space-between;
   overflow-y: scroll;
   -ms-overflow-style: none;
   scrollbar-width: none;
}

.side-info ::-webkit-scrollbar {
   display: none;
}

.days-forecast,
.sun-times,
.wind,
.extra-data,
#chart-container {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   background-color: var(--transparent-white);
   border-radius: 0.6rem;
   padding: 0.5rem;
}

.wind {
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}

.extra-container {
   display: grid;
   grid-template-columns: 1fr auto;
   grid-template-columns: auto auto;
   gap: 0.5rem;
}

.extra-data {
   grid-row: 1/3;
}

.forecast-day {
   display: grid;
   grid-template-columns: auto auto 1fr auto;
   align-items: center;
   gap: 0.5rem;
}

.day-icon {
   height: 2rem;
   filter: brightness(2) saturate(2);
}

.extra-data-item,
.sunset,
.sunrise {
   display: flex;
   justify-content: space-between;
}

.search-bar {
   outline: 0;
   display: flex;
   /* justify-self: end; */
   -webkit-border-radius: 1rem;
   border-radius: 1rem;
   opacity: 0.7;
   justify-content: center;
}

.search-bar > .search-input {
   outline: 0;
   height: 2rem;
   line-height: 42px;
   padding: 0 10px;
   background-color: var(--white);
   color: #212121;
   border: 0;

   -webkit-border-radius: 4px 0 0 4px;
   border-radius: 1rem 0 0 1rem;
}

.search-bar > .search-input:focus {
   outline: 0;
   background-color: #fff;
}

.search-bar > button {
   outline: 0;
   background: none;
   background-color: var(--white);
   height: 2rem;
   width: 2rem;
   text-align: center;
   line-height: 42px;
   border: 0;
   color: black;
   font: normal normal normal 14px/1 FontAwesome;
   font-size: 16px;
   text-rendering: auto;
   -webkit-transition: background-color 0.4s ease;
   transition: background-color 0.4s ease;
   -webkit-border-radius: 0 1rem 1rem 0;
   border-radius: 0 1rem 1rem 0;
}

.search-bar > button:hover {
   background-color: rgba(0, 150, 136, 0.8);
}

.dt-w-e {
   display: flex;
   justify-content: center;
   align-items: center;
}
.dt-w-e::before {
   content: 'W';
   position: absolute;
   color: var(--white);
   font-size: 0.6em;
   left: 2px;
}
.dt-w-e::after {
   content: 'E';
   position: absolute;
   color: var(--white);
   font-size: 0.6em;
   right: 2px;
}
.dt-n-s {
   display: flex;
   justify-content: center;
   align-items: center;
}
.dt-n-s::before {
   content: 'N';
   position: absolute;
   color: var(--white);
   font-size: 0.6em;
   top: 2px;
}
.dt-n-s::after {
   content: 'S';
   position: absolute;
   color: var(--white);
   font-size: 0.6em;
   bottom: 2px;
}
.arrows {
   position: absolute;
   width: 5px;
   height: 5px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   -webkit-animation: arrows 2s ease infinite alternate;
   animation: arrows 2s ease infinite alternate;
   transform-origin: center;
}
.arrows::before,
.arrows::after {
   position: absolute;
   content: '';
   width: 0;
   height: 0;
}
.arrows::before {
   bottom: 14px;
   border-left: 5px solid transparent;
   border-right: 5px solid transparent;
   border-bottom: 10px solid var(--white);
}
.arrows::after {
   top: -10px;
   border-left: 1px solid var(--white);
   border-right: 1px solid var(--white);

   border-top: 30px solid var(--white);
}
.compass {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border: 3px solid var(--white);
   transform: scale(1.1);
}
